@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url(fontes/idroid.otf) format(opentype);
}

*{
    padding: 0px;
    margin: 0px;
}

:root{
    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-android: 'Android';
    --fonte-destaque: 'Bebas Neue', sans-serif;
}

body{
    background-color: rgb(97, 158, 97);
}

header{
    text-align: center;
    font-weight: normal;
    background-image: linear-gradient(to bottom, rgb(68, 160, 68), rgb(39, 80, 39));
    padding: 40px;
}

header h1{
    font-family: var(--fonte-destaque);
    font-size: 3.5em;
}

header p{
    font-size: 1.05em;
    padding-top: 10px;
}

nav{
    padding: 5px;
    background-color: rgb(39, 80, 39);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.733);
}

nav a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding-right: 10px;
    transition-duration: 0.5s;
    padding: 5px;
    font-weight: bold;
    font-family: var(--fonte-padrao);
}

nav a:hover{
    background-color: green;
    border-radius: 5px;
}

main{
    max-width: 800px;
    min-width: 300px;
    margin: auto;
    background-color: white;
    padding: 10px;
    align-items: center;
    line-height: 30px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

main h1{
    font-size: 2em;
    font-weight: normal;
    font-family: var(--fonte-android);
}

main h2{
    font-size: 1.5em;
    font-weight: normal;
    font-family: var(--fonte-android);
    background-image: linear-gradient(to right, rgba(0, 128, 0, 0.726), transparent);
}

main p{
    font-family: var(--fonte-padrao);
    line-height: 40px;
    text-indent: 10px;
}

main span{
    color: rgb(16, 190, 16);
}

main a{
    text-decoration: none;
    background-image: linear-gradient(to right, green, transparent);
    color: rgb(0, 0, 0);
    padding: 3px;
    font-weight: 400;
}

main a::after{
    content: ' 🔗';
}

main a:hover{
    text-decoration: underline;
}

main img {
    display: block;
    max-width: 100%;
    margin: auto;
}


main picture img {
    max-width: 100%;
}


.pequena{
    width: 350px;
    margin: auto;
    display: block;
}


aside{
     background-color: rgba(33, 128, 41, 0.623);
     border-radius: 7px;
}

aside p{
    padding: 7px;
    line-height: 35px;
}

aside h3{
    background-color: rgb(26, 80, 26);
    padding: 5px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    font-weight: bolder;
}

aside ul{
    list-style: inside;
    columns: 2;
    padding: 10px;
}

footer{
    text-align: center;
    margin-top: 10px;
    background-color: rgb(32, 97, 32);
    font-weight: bolder;
    padding: 2px;
}

footer span{
    color: white;
}

footer a{
    text-decoration: none;
    color: white;
    padding: 5px;
    transition-duration: 0.5s;
}

footer a:hover{
    background-color: rgb(35, 107, 35);
    border-radius: 5px;
    text-decoration: underline;
}

footer a::after{
    content: ' 🔗';
}

